body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.UserAvatar {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 100%;
}

.BorderContainer {
    border: 1px solid bisque;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.ButtonsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 20px;
}

.ButtonsContainer Button {
    flex-grow: 1;
}
