form {
    width: 40%;
    margin: 0 auto;
}

label, label input[type="text"], label input[type="email"] {
    display: block;
    width: 100%;
}

label {
    margin-bottom: 20px;
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid green;
}

ul.errors li{
    color: red;
}
