
section
{
    background-color: #f5f5dd;
    width: 400px;
    padding: 50px;
}

div
{
    width: 200px;
    height: 200px;
    margin: 20px auto;
}

.black-100
{
    background-color: rgba(0,0,0,1);
}

.black-60
{
    background-color: rgba(0,0,0,0.6);
}

.black-40
{
    background-color: rgba(0,0,0,0.4);
}

.black-20
{
    background-color: rgba(0,0,0,0.2);
}
