.AppNavbar {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.AppNavbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.AppNavbar ul li:not(:last-child) {
    margin-right: 20px;
}
