@use "variables" as v;
@use "functions" as f;
@use "sass:map";

@media screen and (max-width: map.get(v.$theme-queries, 'large')){
  .container {
    max-width: map.get(v.$container, 'large');
  }
  section {
    padding: map.get(v.$theme-spaces, 'normal') 0;
  }
  #about {
    .about-container {
      .about-title-container {
        .about-title {
          margin: map.get(v.$theme-spaces, 'medium') 0;
        }
      }
    }
    .about-decorations {
      height: map.get(v.$decorations, 'large');
    }
  }
  #team {
    .team-boxes {
      .team-box {
        .team-presentation {
          padding-top: (map.get(v.$theme-spaces, 'small') - 0.5rem);
          padding-right: (map.get(v.$theme-spaces, 'normal') - 0.5rem);
          padding-left: (map.get(v.$theme-spaces, 'normal') - 0.5rem);
          padding-bottom: (map.get(v.$theme-spaces, 'normal') - 0.5rem);
          .team-box-social {
            a.box {
              width: map.get(v.$social-icons, 'large');
              height: map.get(v.$social-icons, 'large');
              font-size: x-small;
              i {
                line-height: map.get(v.$social-icons, 'large');
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: map.get(v.$theme-queries, 'big')) {
  .container {
    max-width: map.get(v.$container, 'big');
  }
  .description {
    &.extra-description {
      width: 80%;
    }
  }
  #about {
    .about-decorations {
      height: map.get(v.$decorations, 'big');
    }
  }
}

@media screen and (max-width: map.get(v.$theme-queries, 'medium'))
{
  .container {
    max-width: map.get(v.$container, 'medium');
  }
  .hamburger-container {
    display: flex;
  }
  .boxes {
    &.boxes-3 {
      gap: map.get(v.$theme-spaces, 'small');
      .box {
        padding: map.get(v.$theme-spaces, 'small');
      }
    }
  }
  header {
    .navbar {
      .navbar-collapse {
        display: none;
        .nav-link {
          font-size: xx-large;
        }
        &.collapse {
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          background-color: map.get(v.$theme-colors, 'primary');
          padding: 0;
          box-shadow: map.get(v.$theme-shadows, 'menu');
          .navbar-nav {
            display: flex;
            flex-flow: column;
            gap: map.get(v.$theme-spaces, 'small');
            text-align: right;
            padding: map.get(v.$theme-spaces, 'extra') map.get(v.$theme-spaces, 'big') map.get(v.$theme-spaces, 'medium') map.get(v.$theme-spaces, 'normal');
            .nav-link {
              color: map.get(v.$theme-colors, 'white');
            }
          }
        }
      }
    }
  }
  .form-container {
    .form-group-input {
      display: flex;
      flex-flow: column;
      .form-item {
        width: 100%;
      }
    }
  }
  #about {
    .about-decorations {
      height: map.get(v.$decorations, 'medium');
      .about-decorations-item {
        &.about-decorations-left {
          img {
            left: (-1) * map.get(v.$theme-spaces, 'small');
          }
        }
      }
    }
    .about-container {
      margin-top: map.get(v.$theme-spaces, 'extra') + 4rem;
    }
  }
  #contact {
    .contact-container {
      flex-flow: column;
      align-items: center;
      text-align: center;
      gap: map.get(v.$theme-spaces, 'medium');
    }
  }
  #appointment {
    .appointment-container {
      grid-template-columns: 100%;
      .appointment-image {
        img {
          max-height: 30rem;
        }
      }
      .appointment-form-container {
        text-align: center;
        padding: map.get(v.$theme-spaces, 'large');
      }
    }
  }
  .description {
    &.extra-description {
      width: 80%;
    }
  }
}

@media screen and (max-width: map.get(v.$theme-queries, 'normal')) {
  .container {
    max-width: map.get(v.$container, 'normal');
  }
  #services {
    .services-container {
      .services-item {
        max-width: 50%;
      }
    }
  }
  #about {
    .about-decorations {
      height: map.get(v.$decorations, 'normal');
    }
    .about-container {
      margin-bottom: 2rem;
      .about-watch-container {
        flex-flow: column;
        align-items: center;
        gap: map.get(v.$theme-spaces, 'normal');
        .about-watch-link {
          margin-left: 0;
        }
      }
    }
  }
  .boxes {
    flex-flow: column;
    align-items: center;
    &.boxes-3 {
      .box {
        width: 60%;
      }
      &.team-box-social {
        flex-flow: row;
      }
    }
    &.procedures-boxes, &.blog-boxes {
      gap: map.get(v.$theme-spaces, 'medium');
    }
    &.team-boxes {
      gap: map.get(v.$theme-spaces, 'large');
    }
  }
}

@media screen and (max-width: map.get(v.$theme-queries, 'small')) {
  .container {
    max-width: map.get(v.$container, 'small');
    padding: 0 map.get(v.$theme-spaces, 'big');
  }
  #about {
    .about-decorations {
      height: map.get(v.$decorations, 'small');
    }
    .about-container {
      .about-text {
        max-width: 100%;
      }
    }
  }
  #services {
    .services-container {
      flex-flow: column;
      .services-item {
        max-width: 100%;
        height: 20rem;
      }
    }
  }
  .boxes {
    &.boxes-3 {
      .box {
        width: auto;
        padding: map.get(v.$theme-spaces, 'medium');
      }
    }
  }
  .description {
    &.extra-description {
      width: 100%;
    }
  }
}
