.logo {
  width: 80px;
}

.logo-decoration {
  display: block;
  margin: 0 auto;
}

#home {
  .home-decorations {
    height: 70vh;
    position: absolute;
    .home-decorations-left {
      left: 0;
      top: 0;
      img {
        height: 50%;
      }
    }
    .home-decorations-right {
      top: 0;
      right: 0;
      img {
        height: 100%;
      }
    }
  }
  .home-title-container {
    position: relative;
    top: 200px;
  }
  .home-watch-link {
    line-height: 20px;
    i {
      font-size: 20px;
    }
  }
}

header {
  .navbar-nav {
    .nav-link {
      color: rgba(0,0,0,1);
      font-weight: bold;
      padding-left: 3rem !important;
      text-transform: uppercase;
    }
  }
}


