@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "normalize";

$blue: #1ba4ce;
$white: white;
$black: black;
$violet: #473452;
$darkgrey: #30383b;
$font-base: 16px;
$font-smaller: 15px;
$font-headers: 42px;
$font-big-header: 50px;
$font-headers-titles: 22px;
$shadow: 0 5px 20px #f0f0f0;
$menu-shadow: 0 2px 15px #606060;

body {
  font-family: 'Roboto', sans-serif;
}

.decorated {
  font-family: 'Bellota', sans-serif;
}

.title {
  font-weight: 800;
  font-family: 'Bellota', sans-serif;
  font-size: xx-large;
}

.date {
  text-transform: uppercase;
  font-size: small;
}

.logo {
  width: 80px;
}

.logo-decoration {
  display: block;
  margin: 0 auto 2rem auto;
  width: 6rem;
}


#about {
  .about-decorations {
    height: 35rem;
    z-index: -999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .about-decorations-item {
      position: absolute;
      top: 0;
      height: 100%;
      &.about-decorations-left {
        left: 0;
        img {
          left: -2rem;
          height: 50%;
          position: relative;
        }
      }
      &.about-decorations-right {
        right: 0;
        img {
          height: 100%;
          position: relative;
        }
      }
    }
  }
  .about-container {
    margin-top: 15rem;
    .about-title-container {
      margin: 0 auto;
      .about-title {
        font-size: xxx-large;
      }
      .about-text {
        width: 60%;
      }
    }
    .about-watch-container {
      margin: 0 auto;
      display: flex;
      align-items: center;
      .about-btn-reserve {
        text-transform: none;
      }
      .about-watch-link {
        line-height: 2rem;
        text-decoration: none;
        color: $darkgrey;
        margin-left: 1.5rem;
        i {
          font-size: 2rem;
          margin-right: 0.5rem;
        }
      }
  }
  }
  .about-text {
    color: gray;
    margin-bottom: 3rem;
    font-size: smaller;
    font-weight: 500;
    line-height: 1.6;
  }
}

#services {
  .services-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;

    .services-item {
      flex: 1 1 auto;
      max-width: 25%;
      position: relative;

      img:not(.icon) {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        position: relative;
      }

      .services-overlay {
        display: none;
        color: $white;
      }

      &:hover, &:focus, &:active {
        cursor: pointer;

        .services-overlay {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          background-color: rgba($blue, 0.9);
        }
      }
    }
  }
}

.boxes {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  &.boxes-3 {
    .box {
      width: 28%;
      padding: 1rem;
    }
  }
  img {
    width: 100%;
  }
  .shadowed-box {
    border: 1px solid rgba($darkgrey, 0.2);

    &:hover, &:active, &:focus {
      border: none;
      box-shadow: $shadow;

      .btn-secondary {
        background-color: $blue;
      }
    }
  }
  .box-content {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
  }
}

#team {
  .team-boxes {
    .team-box {
      position: relative;
      display: flex;
      flex-flow: column;
      align-items: center;

      .team-image {
        position: relative;
        margin: -1rem;
      }

      .team-presentation {
        position: absolute;
        bottom: -4rem;
        padding: 1rem;
        background-color: $white;
        width: 70%;
        left: auto;
        right: auto;

        .team-box-social {
          display: none;

          a.box {
            color: $blue;
            border-radius: 100%;
            border: 1px solid $blue;
            width: 10%;
            padding: 0.5rem;

            &:hover, &:active, &:focus {
              color: $white;
              background-color: $blue;
            }
          }
        }
      }

      &:hover, &:focus, &:active {
        .team-presentation {
          box-shadow: $shadow;

          .team-box-social {
            display: flex;
          }
        }
      }
    }
  }
}

#appointment {
  .appointment-container {
    display: grid;
    grid-template-columns: 40% 60%;
    .appointment-form-container {
      background-color: $blue;
      padding: 5rem 10rem 5rem 5rem;
      width: auto;
      text-align: left;
    }
  }
  .appointment-image {
    position: relative;
    width: 100%;
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      display: block;
      position: relative;
      object-position: center;
    }
  }
}

#contact {
  .contact-container
  {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: left;
    justify-content: space-between;
    gap: 7rem;
    .contact-items {
      display: flex;
      flex-flow: column;
      gap: 3rem;
      .contact-item {
        display: flex;
        align-items: center;
        gap: 2rem;
        .contact-icon {
          font-size: large;
        }
        p {
          margin: 0;
          text-transform: uppercase;
          line-height: 1.6;
        }
      }
    }
  }
}

img.icon {
  width: 3rem;
}

.navbar {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline;
    }
  }
}

.nav-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
  text-transform: uppercase;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  .navbar {
    z-index: 999;
    padding-top: 2rem;
    .navbar-collapse {
      padding-bottom: 1rem;
    }
    .nav-link {
      padding-left: 3rem !important;
    }
  }
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.m-auto {
  margin: 0 auto;
}

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mt-4 {
  margin-top: 4rem;
}

.font-weight-bold {
  font-weight: bold;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-end {
  align-items: end;
}

.flex-column {
  flex-flow: column wrap;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.h-100 {
  height: 100%;
}

.h-50 {
  height: 50%;
}

.text-center {
  text-align: center;
}

.description {
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.4);
  font-size: smaller;

  &.extra-description {
    margin: 0 auto 2rem auto;
    width: 60%;
  }
}

.btn {
  padding: 1rem 2rem;
  color: $white;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: small;

  &.btn-secondary {
    background-color: $darkgrey;
  }

  &.btn-primary {
    background-color: $blue;
  }

  &.btn-rounded {
    border-radius: 2rem;
  }

  &.btn-small {
    font-size: x-small;
    padding: 0.7rem 2rem;
  }

  &.btn-primary-reversed {
    color: $black;
    background-color: $white;
    border-color: transparent;
  }
}

section {
  text-align: center;
  padding: 3rem 0;
}

.bg-primary {
  background-color: $blue;
}

.text-white {
  color: $white;
}

.form-container {
  width: 80%;
  .form-group-input {
    display: flex;
    justify-content: space-between;
    .form-item {
      width: 45%;
    }
  }
  .form-item {
    display: flex;
    flex-flow: column;
    margin-bottom: 2rem;
    width: 100%;
    label {
      display: none;
    }
    &:active, &:focus {
      label {
        display: block;
      }
    }
    .form-input {
      background-color: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid $white;
      font-family: inherit;
      padding: 1rem;
      color: $white;
      text-transform: uppercase;
      font-size: inherit;
      &::placeholder {
        text-transform: uppercase;
        color: $white;
        font-family: inherit;
        font-size: medium;
        opacity: 1;
      }
    }
  }
}

footer {
  text-align: center;
  padding: 2rem 0;
  font-size: small;
  .footer-link-logo {
    display: block;
    height: 100%;
    margin-bottom: 2rem;
  }
  .footer-note {
    text-transform: uppercase;
    color: gray;
    margin-top: 3rem;
  }
  .navbar {
    .nav-item {
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
    .nav-link {
      color: lighten($violet, 30%);
    }
  }
}

.hamburger {
  display: none;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 3rem;
}

.hamburger-init {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
  outline: none;
}

.hamburger-bars {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.hamburger-bars .bar1,
.hamburger-bars .bar2,
.hamburger-bars .bar3 {
  width: 100%;
  height: 0.3rem;
  background: $blue;
  transition: all .3s;
  border-radius: 15px;
}

.hamburger-init:checked + .hamburger-bars .bar1 {
  transform: translateY(20px) rotate(45deg);
  background: $white;
}

.hamburger-init:checked + .hamburger-bars .bar2 {
  opacity: 0;
}

.hamburger-init:checked + .hamburger-bars .bar3 {
  transform: translateY(-5px) rotate(-45deg);
  background: $white;
}

@media screen and (max-width: 1500px){
  .container {
    max-width: 1050px;
  }
  #about {
    .about-decorations {
      height: 35rem;
    }
  }
}

@media screen and (max-width: 1300px) {
  .container {
    max-width: 800px;
  }
  .description {
    &.extra-description {
      width: 80%;
    }
  }
  #about {
    .about-decorations {
      height: 30rem;
    }
  }
}

@media screen and (max-width: 1100px)
{
  .container {
   max-width: 750px;
  }
  .form-container {
    .form-group-input {
      display: flex;
      flex-flow: column;
      .form-item {
        width: 100%;
      }
    }
  }
  #about {
    .about-decorations {
      height: 25rem;
    }
    .about-container {
      .about-title-container, .about-watch-container {
        width: 100%;
      }
    }
  }
  #contact {
    .contact-container {
      flex-flow: column;
      align-items: center;
      text-align: center;
      gap: 3rem;
    }
  }
  .boxes {
    &.boxes-3 {
      width: 100%;
    }
  }
}

@media screen and (max-width: 940px)
{
  #about {
    .about-decorations {
      height: 16rem;
      padding: 0 4rem;
    }
    .about-container {
      margin-top: 10rem;
    }
    padding: 0 5rem;
  }
  #appointment {
    .appointment-container {
      grid-template-columns: 100%;
      .appointment-form-container {
        text-align: center;
      }
    }
  }
  .container {
    max-width: 680px;
  }
  .hamburger {
    display: flex;
  }
  header {
    .navbar-collapse {
      display: none;
      &.collapse {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background-color: $blue;
        padding: 0;
        box-shadow: $menu-shadow;
        .navbar-nav {
          display: flex;
          flex-flow: column;
          gap: 1rem;
          text-align: right;
          padding: 8rem 4rem 3rem 2rem;
          .nav-link {
            color: $white;
          }
        }
      }
    }
  }
  .boxes {
    &.boxes-3 {
      .box {
        width: 25%;
      }
    }
  }
  .description {
    &.extra-description {
      width: 80%;
    }
  }
}

@media screen and (max-width: 680px) {
  #services {
    .services-container {
      .services-item {
        max-width: 50%;
      }
    }
  }
  #about {
    .about-container {
      .about-watch-container {
        flex-flow: column;
        align-items: center;
        gap: 3rem;
      }
    }
  }
  .boxes {
    flex-flow: column;
    align-items: center;
    &.boxes-3 {
      .box {
        width: 60%;
      }
    }
    &.procedures-boxes, &.blog-boxes {
      gap: 3rem;
    }
    &.team-boxes {
      gap: 5rem;
    }
  }
}
