<ul class="nav mb-4">
    {{#with this.title as |title|}}
        {{#if (notHome title)}}
            <li class="nav-item"><a href="/" class="nav-link link-danger">Home</a></li>
        {{/if}}
    {{/with}}
    <li class="nav-item"><a href="/register" class="nav-link link-danger">Register to an event</a></li>
    <li class="nav-item"><a href="/test" class="nav-link link-danger">Test</a></li>
    <li class="nav-item"><a href="/user" class="nav-link link-danger">Sign up</a></li>
    <li class="nav-item"><a href="/user/login" class="nav-link link-danger">Login</a></li>
    <!--TODO add checking if logged in-->
    {{#if userId}}ZALOGOWANO{{/if}}
    <li class="nav-item"><a href="/user/logout" class="nav-link link-danger">Logout</a></li>
</ul>
