<ul class="nav mb-4">
    {{#with this.title as |title|}}
        {{#if (notHome title)}}
            <li class="nav-item"><a href="/" class="nav-link link-danger">Home</a></li>
        {{/if}}
    {{/with}}
    {{#if userId}}
        <p>ZALOGOWANO</p>
        <li class="nav-item"><a href="/user/event/add" class="nav-link link-danger">Register to an event</a></li>
        <li class="nav-item"><a href="/user/profile" class="nav-link link-danger">User Profile</a></li>
        <li class="nav-item"><a href="/logout" class="nav-link link-danger">Logout</a></li>
    {{else}}
        <li class="nav-item"><a href="/user/signup" class="nav-link link-danger">Sign up</a></li>
        <li class="nav-item"><a href="/user/login" class="nav-link link-danger">Login</a></li>
    {{/if}}
</ul>
